.forms {
  width: 420px;
  background: linear-gradient(145deg, #fff, #ffe7b8);
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #333;
  margin: 100px auto;
  margin-bottom: 0px;
}

.forms label {
  font-weight: 600;
  color: #222;
}

.forms input,
.forms select,
.forms textarea {
  padding: 12px 18px;
  border-radius: 12px;
  border: 2px solid #fcb72f;
  font-size: 15px;
  transition: 0.3s ease;
  outline: none;
  background: #fffdf5;
  color: #272727;
}

.forms textarea {
  resize: none;
  height: 80px;
}

.forms button {
  background: linear-gradient(90deg, #f13d3d, #f1d04e);
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 15px;
}

.forms button:hover {
  background: linear-gradient(90deg, #e60000, #ffb700);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(255, 99, 99, 0.4);
}

.mensagemSucesso {
  color: green;
  text-align: center;
}

.mensagemErro {
  color: red;
}

.mensagemSucesso,
.mensagemErro {
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}

.lista {
  width: 720px;
  margin: 50px auto;
  padding: 30px;
  background: linear-gradient(145deg, #fff, #ffe7b8);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.lista h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #222;
  font-weight: 700;
}

.lista ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 20px;
}

.item {
  background: #fffdf5;
  border: 2px solid #fcb72f;
  border-radius: 16px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.item:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.item strong {
  font-size: 18px;
  color: #f13d3d;
}

.item em {
  font-style: normal;
  font-weight: 600;
  color: #555;
}